
.centre{
  text-align: center;
  margin-left: 10px;
  display: inline-block;
  
}

.sepleft{
	margin-left: 100px;
}

.header {
  padding: 10px 16px;
  background: #0984e3;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

.menu {
  position:fixed;
  width: 80px;
  background: #636e72;
  height: 100%;
  padding:0;
}

.menu a {
  color: #dfe6e9;
  

}

.menu a:hover {
  color: #74b9ff;
}

.add a:hover{
	opacity: 0.65;
	cursor: pointer;
}

.bar {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #636e72;
}


