
.centre{
  text-align: center;
  margin-left: 10px;
  display: inline-block;
  
}

.sepleft{
	margin-left: 100px;
}

.header {
  padding: 10px 16px;
  background: #0984e3;
  color: #f1f1f1;
}

.accordeon{
  margin-left: 100px;
  margin-right: 20px;
}

.tutobox {
  width: 90%;
  padding-top: 0px;
  padding-left: 5px;
  margin-top: -20px;
  margin-left: 80px;
  display: flex;
  justify-content: row;
}

.tutoimgbig {
  width: 100%;
  height: auto;
}


.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

.menu {
  position:fixed;
  width: 80px;
  background: #636e72;
  height: 100%;
  padding:0;
}

.menu a {
  color: #dfe6e9;
  

}

.menu a:hover {
  color: #74b9ff;
}


